input {
  border: 2px solid black;
  border-bottom: 6px solid black;
  border-radius: 0px;
}

input:enabled:hover {
  border-color: black;
}

input:enabled:focus {
  box-shadow: none;
  border-color: black;
}

